# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
ENV/
env/
.venv/

# Env & token files
.env
*.env
token_cache.bin

# SQLite database
db.sqlite3
db.sqlite3-shm
db.sqlite3-wal

# VS Code
.vscode/

# OS-specific
.DS_Store

# CrewAI knowledge/temp files
knowledge/
share/

# Ignore cached/compiled files from migrations and inner apps
scheduler/migrations/__pycache__/
scheduler/migrations/*.pyc

# Ignore inner pycache
email_scheduler/__pycache__/
scheduler/__pycache__/
emailcrew/__pycache__/
